button {
  height: 40px;
  width: 40px;
  outline: none;
  margin: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  background-color: #d0021b;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.grab-button {
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  background-color: #2e54ff;
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: 9999;
  box-shadow: 2px 6px 16px rgba(0, 36, 199, 0.15);
}

.cancel-button {
  width: 56px;
  height: 24px;
  outline: none;
  border: 1px solid #2e54ff;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: rgb(46, 84, 255, 0.8);
}

.cancel-button:hover {
  background-color: rgb(46, 84, 255, 0.5);
}

.shopify-container {
  width: 250px;
  position: fixed;
  padding: 16px;
  top: 0;
  right: -250px;
  bottom: 0;
  font-size: 12px;
  color: #222;
  z-index: 99999;
  background-color: #fff;
  box-shadow: -2px 6px 20px rgba(0, 0, 0, 0.08);
}

.product-wrapper {
  height: calc(100vh-48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.product-title {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: bold;
}

.product-img {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  justify-content: space-between;
}

.product-img img {
  width: 105px;
  height: auto;
  margin-bottom: 8px;
  object-fit: cover;
}

.product-price {
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}

.product-size,
.product-color {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-size span:not(:first-child) {
  padding: 0 4px;
}

.product-color img {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  overflow: hidden;
}

.save-button {
  position: absolute;
  bottom: 16px;
  height: 44px;
  width: 218px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 22px;
  background-color: #2e54ff;
}

.grab-button:hover,
.save-button:hover {
  background-color: rgb(0, 36, 199);
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(0, 36, 199);
}
